@import url("../../../App.css");

.topNavBar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2vh solid grey;
  height: 8vh;
  width: 100%;
}

.topNavBar-title {
  font-family: var(--font);
  font-size: 2.5vh;
  margin-left: 2vw;
}

.topNavBar-icon {
  height: 4vh;
  width: 4vh;
}

.icon-container {
  height: 6vh;
  width: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6vh;
  box-shadow: 0 0 2vh #f0f0f0;
  margin-right: 2vw;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-container:hover {
  box-shadow: 0 0 2vh #e0e0e0;
  transition: all 0.3s;
}
